:root {
    --theme: palevioletred;
    --theme-text: palevioletred;
    --theme-white-text: white;
    --theme-timetable: #e0e0e0;
    --theme-black-text: black;
}

@media (prefers-color-scheme: dark) {
    :root {
    --theme: rgba(0, 0, 0, 0.259);
    --theme-text:rgba(0, 0, 0, 0.259);
    --theme-white-text: palevioletred;
    --theme-timetable: palevioletred;
    --theme-black-text: palevioletred;
    }
    body {
        background-color: rgb(82, 15, 96);
    }
}