@import "../../globals.scss";

.Timetable {
  font-size: 0.8rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: var(--theme-black-text);

    tr {
      border: solid 2px var(--theme-timetable);
    }

    td {
      border: solid 2px var(--theme-timetable);
      padding: 10px;
      text-align: center;
      height: 10px;
    }

    th {
      width: 5rem !important;
      max-width: 5rem !important;
    }
  }

  &__head {
    background-color: var(--theme-timetable);
  }

  &__cell--event {
    background-color: var(--theme-timetable);
  }

  &__cell--time {
    border-bottom: solid 2px var(--theme-timetable) !important;
  }

  &__cell--multiple-events {
    background-color: rgba(var(--theme-text), 0.31);
    color: var(--theme-text);
    font-weight: bold;
  }
}

