@import "../../../globals.scss";

.HeaderLinks {
  margin: 0.5rem 0;
  text-align: right;
  display: flex;
  gap: 0.25rem;
  font-size: 0.8rem;
  justify-content: right;
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }

  a:hover {
    text-decoration: underline;
    color: $theme--dark;
  }

  a:active {
    color: $theme--dark;
  }

  &__btn {
    background-color: $theme;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0.5em ;
    gap: 0.5em;
  }
}
