@import "../../../globals.scss";

.HeaderLinks {
  margin: 0.5rem 0;
  text-align: right;
  display: flex;
  gap: 0.25rem;
  font-size: 0.8rem;
  justify-content: right;
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--theme-black-text);
  }

  a:hover {
    text-decoration: underline;
    color: var(--theme-text);
  }

  a:active {
    color: var(--theme-text);
  }

  &__btn {
    background-color: var(--theme);
    color: var(--theme-white-text);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0.5em ;
    gap: 0.5em;
  }
}
